@model Product

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <div class="display-6">
                @Model.ProductName
            </div>
            <div class="my-3">
                <img class="bd-placeholder-img card-img-top w-50 h-auto rounded shadow" src="@Model.ImageUrl" alt="@Model.ProductName">
                <p class="my-3">@Model.Summary</p>
                <div class="lead text-danger">
                    @Model.Price.ToString("c")
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="text-center">

            <form method="post" asp-page="/Cart" id="@Model.ProductId" class="my-3">
                <input hidden asp-for="ProductId"/>
                <input hidden name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                <div class="btn-group">
                    <a class="btn btn-warning" asp-action="Index" asp-controller="Home">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                    <a class="btn btn-outline-warning" asp-action="Index" asp-controller="Product">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Products
                    </a>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-cart-plus"></i>
                        Add Cart
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>