@page "/cart"
@model CartModel
@{
    ViewData["title"] = "Orders";
}
<div class="my-3">
    <div class="display-6 text-center">
        Cart
    </div>
</div>

<table>
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Cart.Lines)
    {
        <tr>
            <td>@line.Product.ProductName</td>
            <td>@line.Product.Price.ToString("C")</td>
            <td>@line.Quantity</td>
            <td>@((line.Product.Price * line.Quantity).ToString("C"))</td>
            <td>
                <form method="post" asp-page-handler="Remove">
                    <input hidden name="productId" value="@line.Product.ProductId"/>
                    <input hidden name="returnUrl" value="@Model?.ReturnUrl"/>
                    <button class="btn btn-sm btn-danger" type="submit">
                        <i class="fa fa-remove"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3"></td>
        <td class="align-text-bottom">Total:</td>
        <td class="align-text-bottom text-danger">@Model?.Cart.ComputeTotalValue().ToString("C")</td>
    </tr>
    </tfoot>
</table>
<div class="my-3 text-center">
    <div class="btn-group">
        <a class="btn btn-primary" href="@Model?.ReturnUrl">Continue Shopping</a>
        <a class="btn btn-outline-primary" asp-controller="Order" asp-action="Checkout">Checkout</a>
    </div>
</div>