@model Product

<div class="col-sm-12 col-md-4 mt-3 mb-2">
    <div class="card">
        <div class="card-header ">
            <h5 class="card-title">@Model.ProductName</h5>
        </div>
        <img class="img-fluid" src="@Model.ImageUrl" alt="@Model.ProductName">
        <div class="card-body text-center">
            <p class="card-text">@Model.Summary</p>
            <p class="card-text text-danger lead rounded-2">@Model.Price.ToString("C")</p>
        </div>
        <div class="card-footer text-center">
            <form method="post" asp-page="/Cart" id="@Model.ProductId">
                <input hidden asp-for="ProductId"/>
                <input hidden name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                <div class="btn btn-group">
                    <a class="btn btn-secondary" asp-action="Get" asp-controller="Product" asp-route-id="@Model.ProductId">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        Get Details
                    </a>
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-cart-plus"></i>
                        Add Cart
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>