@model IEnumerable<IdentityUser>

<div class="text-center my-3">
    <h6 class="display-6">
        Products
    </h6>
</div>

<div class="d-flex justify-content-end">
    <a class="btn btn-outline-success" asp-controller="User" asp-action="Create" asp-area="Admin">
        <i class="fa fa-plus-circle"></i>
        Create
    </a>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td user-name="@user.UserName" user-role="" ></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-warning rounded-start" asp-action="Update" asp-route-id="@user.UserName">
                        <i class="fa fa-edit"></i> Update
                    </a>
                    <a class="btn btn-info rounded-0" asp-action="ResetPassword" asp-route-id="@user.UserName">
                        <i class="fa fa-key"></i> Reset Pass
                    </a>
                    <form asp-action="Delete" method="post">
                        <input hidden name="UserName" value="@user.UserName"/>
                        <button type="submit" class="btn btn-danger rounded-start-0 rounded-end" asp-action="Delete" asp-route-id="@user.UserName">
                            <i class="fa fa-remove"></i> Delete
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>